DirectoryIndex index.html
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://beta-joi.goodbaton.com/$1 [R=301,L]
<Files ~ "^\.(.*)$|README">
  deny from all
</Files>
<IfModule mod_headers.c>
  <filesMatch "\.(css|js)$">
    Header set Cache-Control "must-revalidate"
  </filesMatch>
</IfModule>