DirectoryIndex index.html
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://joi.goodbaton.com/$1 [R=301,L]

RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]

<Files ~ "^\.(.*)$|README">
  deny from all
</Files>
<IfModule mod_headers.c>
  <filesMatch "\.(css|js)$">
    Header set Cache-Control "max-age=86400, must-revalidate"
  </filesMatch>
</IfModule>