.solved {
  :not(.level) {
    background-color: #d7fbd7;
  }
}

.solvedByRival {
  :not(.level) {
    background-color: #f8ccc8;
  }
}

.solved.solvedByRival {
  :not(.level) {
    background-color: #faddb1;
  }
}

.notExist {
  :not(.level) {
    background-color: #d6d6d6;
  }
}
