.notexist {
  .taskname {
    background-color: #D6D6D6;
  }
  .aojstar {
    background-color: #D6D6D6;
  }
  .source {
    background-color: #D6D6D6;
  }
}

.solved {
  .taskname {
    background-color: #D7FBD7;
  }
  .aojstar {
    background-color: #D7FBD7;
  }
  .source {
    background-color: #D7FBD7;
  }
}

.header {
  text-align: center;
}

.level {
  text-align: center;
  font-weight: bold;
}

.taskname {
  a {
    text-decoration: none;
  }
}

.aojstar {
  text-align: center;
  a {
    text-decoration: none;
  }
}

.level0 {
  background-color: #B3B3B3;
  color: #FFFFFF;
}

.level1 {
  background-color: #EBF1DE;
  color: #000000;
}

.level2 {
  background-color: #DCE6F2;
  color: #000000;
}

.level3 {
  background-color: #DBEEF4;
  color: #000000;
}

.level4 {
  background-color: #D2DBE5;
  color: #000000;
}

.level5 {
  background-color: #A5B6CB;
  color: #000000;
}
.level6 {
  background-color: #CCC1DA;
  color: #000000;
}
.level7 {
  background-color: #B3A2C7;
  color: #000000;
}
.level8 {
  background-color: #FCD5B5;
  color: #000000;
}
.level9 {
  background-color: #FFFF00;
  color: #000000;
}

.level10 {
  background-color: #FF6600;
  color: #000000;
}

.level11 {
  background-color: #FF0000;
  color: #000000;
}

.level12 {
  background-color: #000000;
  color: #FF0000;
}
