.account {
  text-align: right;
}

.notexist {
  .taskname {
    background-color: #D6D6D6;
  }
  .aojstar {
    background-color: #D6D6D6;
  }
  .source {
    background-color: #D6D6D6;
  }
}

.header {
  text-align: center;
}


