.self {
  text-align: right;
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 10px;
}

.title {
  font-size: small;
  color: gray;
  margin-right: 10px;
}

.score {
  font-size: large;
  .sum {
    margin-right: 5px;
    font-weight: bold;
  }

  .max {
    margin-left: 5px;
  }
}
